<div class="container">
    <div class="presentation">
        <p>
            My name is Daniel. If you want to know a bit about me you are in the right place. If
            not, here is a convenient <a href="https://www.google.com/search?q=kittens&tbm=isch">door to kittens</a>,
            thanks for
            stopping by!
        </p>
    </div>
    <div class="ideals">
        <!-- TODO: clarify what equity is? -->
        I'm a queer mentally ill amateur coder, a sworn enemy of stigma and social prejudices, a
        strong believer of equity.
    </div>
    <div class="hobbies">
        <!-- TODO: mention (maybe in another section) programming languages, links to games/music,
        etc -->
        I like to code, read, play video games, and listen to music.
    </div>
    <div class="bio">
        <div class="past">
            <p>
                I was born in Canary Islands sometime around 1990. Later I crossed the ocean to
                study Computer Science and Mathematics in Madrid, and eventually did an exchange
                year at EPFL, Switzerland. This inevitably led to a Master's Degree in Computer
                Science at said university, during which I had fun working on programming languages
                and big data. I moved to Zurich for my dream job in 2016.
            </p>
        </div>
        <div class="bipolar">
            <p>
                Then came the Plot Twist: I was diagnosed with Bipolar II Disorder. It got so bad
                that I had to stop working in 2017, and I haven't been able to go back ever since.
                My illness is very resistant to treatment, and it has been a long and painful
                journey. I'm very open an unashamed about it, and you can read more about it in my
                <a routerLink="/blog">blog</a>.
            </p>
        </div>
        <div class="gender">
            <!-- TODO: links -->
            I identify as agender. I feel some connection to gender, but it is faint and not a big
            part of my life or identity. If gender was ice cream, I would be vanilla. On the
            internet I use they/them. If you want to know more about my journey into queerness, you
            can read about it in my <a routerLink="/blog">blog</a>.
        </div>
    </div>
    <div class="contact">
        <div class="email">
            Want to say something? Send me an email at
            <mat-icon>mail</mat-icon><a href="mailto:daniel@espino.codes">daniel@espino.codes</a>,
            I'll be happy to hear from you :)
        </div>
    </div>
</div>