<div class="container">
    <div class="presentation">
        My name is Daniel. If you want to know a bit about me you are in the right place. If not, here
        is a convenient <a href="https://www.google.com/search?q=kittens&tbm=isch">door to kittens</a>,
        thanks for stopping by!
    </div>
    <div class="contact">
        <div class="email">
            Want to say something? Send me an email at
            <mat-icon>mail</mat-icon><a href="mailto:daniel@espino.codes">daniel@espino.codes</a>,
            I'll be happy to hear from you :)
        </div>
    </div>
</div>