<div class="user-status" *ngIf="!(user$ | async)">
    <p class="status-text">Not signed in!</p>
</div>

<div class="user-status" *ngIf="user$ | async">
    <button class="logout-button" mat-raised-button color="primary" (click)="signOut()">Logout</button>

    <div class="draft-creation">
        <input class="draft-input" matInput placeholder="Draft id" [(ngModel)]="newDraftId">
        <button class="create-draft-button" mat-raised-button color="primary" (click)="createDraft()">Create
            draft</button>
    </div>

    <section class="tags">
        <h2>Tags</h2>
        <ul>
            <li *ngFor="let tag of tags$ | async" class="tag-item">
                {{tag | json}}
                <div class="tag-controls">
                    <a [routerLink]="['/blog', tag.id]"><mat-icon>link</mat-icon></a>
                    <button mat-button (click)="deleteTag(tag.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </li>
        </ul>

        <h3>Add tag</h3>
        <form class="add-tag-form">
            <mat-form-field>
                <mat-label>Id</mat-label>
                <input matInput name="id" placeholder="Tag id" [(ngModel)]="newTag.id">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput name="name" placeholder="Tag name" [(ngModel)]="newTag.name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput name="description" placeholder="Tag description" [(ngModel)]="newTag.description">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" (click)="createTag()">Create Tag</button>
        </form>
    </section>

    <section class="drafts">
        <h2>Drafts</h2>
        <ul>
            <li *ngFor="let draft of drafts$ | async">
                <a [routerLink]="['/admin', 'draft', draft.id]">{{draft.title || "[untitled]"}} - {{draft.id}}</a>
            </li>
        </ul>
    </section>

    <section class="posts">
        <h2>Published posts</h2>
        <ul>
            <li *ngFor="let post of posts$ | async">
                <a [routerLink]="['/blog/post', post.id]">{{post.title || "[untitled]"}} - {{post.id}}</a>
                <button mat-button (click)="deletePost(post.id)"><mat-icon>delete</mat-icon></button>
            </li>
        </ul>
    </section>
</div>