<a [routerLink]="['/admin']"><mat-icon>home</mat-icon>admin</a>

<div *ngIf="!draft">
    Draft not found
</div>

<div class="container" *ngIf="draft">
    <div class="box editor">
        <h1>Editor</h1>
        <form [formGroup]="editorForm">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Subtitle</mat-label>
                <input matInput formControlName="subtitle" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" cdkTextareaAutosize required></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Published date</mat-label>
                <input matInput formControlName="published_date" type="datetime-local" placeholder="Published date"
                    (click)="openDateDialog($event)">
            </mat-form-field>
            <div class="tag-selector">
                <app-tag-selector [tags]="tags" (tagsChange)="tagsChange($event)"></app-tag-selector>
            </div>
        </form>
        <div class="actions">
            <app-upload-image [postId]="this.draft.id" *ngIf="!draft.image"
                (imageUploaded)="imageUploaded($event)"></app-upload-image>
            <button mat-raised-button color="primary" (click)="deletePostImage()" *ngIf="draft.image">Delete
                image</button>
            <button mat-raised-button color="primary" (click)="deleteDraft()">Delete</button>
            <button mat-raised-button color="primary" (click)="publishDraft()">Publish</button>
            <a [routerLink]="['/blog/post', draft.id]">View</a>
        </div>
    </div>
    <div class="box preview">
        <h1>Preview</h1>
        <app-post [post]="draft"></app-post>
    </div>
</div>