@import "../../../style.variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.box {
  border: 2px dashed #ccc;
  margin: 10px;
  padding: 20px;
  width: $post-width;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    border-bottom: 2px dashed #ccc;
  }
}

.editor {
  form {
    padding: 20px;
    width: $post-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    mat-form-field,
    .tag-selector {
      width: 100%;
    }
  }
}
