/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Themes
:root {
  --light-background: #f7f7f7;
  --light-text: #000000;

  --dark-background: #000000;
  --dark-text: #ffffff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
