/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Themes
:root {
  // NOTE: When adding new variables, remember to add them to the theme service

  //// Light theme ////
  --light-background-color: #f8f1e3;
  --light-text-color: #4a4a4a;
  --light-shadow-color: rgba(0, 0, 0, 0.3);
  --light-border-color: #b8afa0;
  --light-toolbar-background-color: #f8f1e3;
  --light-subtitle-color: #6d6d6d;
  --light-date-color: #999999;
  --light-tag-background-color: #e2d4c7;
  --light-highlight-color: #f1eadb;

  //// Dark theme ////
  --dark-background-color: #2b2a27;
  --dark-text-color: #f1eadb;
  --dark-shadow-color: rgba(255, 255, 255, 0.2);
  --dark-border-color: #696664;
  --dark-toolbar-background-color: #373531;
  --dark-subtitle-color: #b8afa0;
  --dark-date-color: #999999;
  --dark-tag-background-color: #4a4743;
  --dark-highlight-color: #3c3b38;

  //// Set default theme to light theme ////
  --background-color: var(--light-background-color);
  --text-color: var(--light-text-color);
  --shadow-color: var(--light-shadow-color);
  --border-color: var(--light-border-color);
  --toolbar-background-color: var(--light-toolbar-background-color);
  --subtitle-color: var(--light-subtitle-color);
  --date-color: var(--light-date-color);
  --tag-background-color: var(--light-tag-background-color);
  --highlight-color: var(--light-highlight-color);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
