.floating-toolbar {
  // Position the toolbar
  position: fixed;
  top: 20px;
  left: 50%; /* Center toolbar */
  transform: translateX(-50%); /* Necessary for true centering */
  z-index: 1000;

  // Size the toolbar
  width: 600px;
  max-width: 90%; /* Ensure it doesn't overflow small screens */

  // Border, padding, background
  padding: 10px;
  background-color: var(--toolbar-background-color);
  border: 0px solid var(--border-color);
  border-radius: 25px;

  // Transition when changing theme
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;

  // Container properties
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  // Style
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

a {
  // Distribute links evenly
  width: 100%;

  // Remove link style
  text-decoration: none;
  color: inherit;

  // Center the mat-icon
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // Other
  cursor: pointer; // Show pointer on hover for empty links

  // Style
  border-radius: 20px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;

  mat-icon {
    margin-right: 10px;
  }

  &:hover {
    text-shadow: 0 2px 5px var(--shadow-color);
  }
}

button {
  font-size: 0.9em;
  padding: 0px;
  margin-right: 10px;
  margin-left: 10px;
  color: var(--text-color);

  // Eliminate button style
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.current {
  // Style for the link where we are right now
  text-shadow: 0 0 5px var(--shadow-color);
  filter: blur(1px);
}

.menu {
  display: inline-flex;
  flex-direction: column;
  // min-width: 180px;
  max-width: 280px;
  background-color: var(--background-color);
  padding: 6px 0;
  border: 1px solid var(--border-color);
}

.menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;

  &:hover {
    background-color: var(--highlight-color);
  }

  &:active {
    background-color: var(--highlight-color);
  }
}
