<div *ngIf="!draft">
    Draft not found
</div>

<ng-container *ngIf="draft">
    <div class="editor">
        <h1>Editor</h1>
        <form [formGroup]="editorForm">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Subtitle</mat-label>
                <input matInput formControlName="subtitle" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" cdkTextareaAutosize required></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Published date</mat-label>
                <input matInput formControlName="published_date" type="datetime-local" placeholder="Published date"
                    (click)="openDateDialog($event)">
            </mat-form-field>
            <div class="tag-selector">
                <app-tag-selector [tags]="tags" (tagsChange)="tagsChange($event)"></app-tag-selector>
            </div>
        </form>
    </div>
    <div class="actions">
        <button mat-raised-button color="primary" (click)="deleteDraft()">Delete</button>
        <button mat-raised-button color="primary" (click)="publishDraft()">Publish</button>
        <a [routerLink]="['/blog', draft.id]">View</a>
    </div>
    <div class="preview">
        <h1>Preview</h1>
        <app-post [post]="draft"></app-post>
    </div>
</ng-container>